# تجاهل كافة ملفات المنصات المختلفة
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored

# تجاهل ملفات CMake وامتدادات البناء الأخرى
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored